/* 
    Document   : client
    Created on : 2013-4-21, 12:32:44
    Author     : æ–‡
    Description:
        Purpose of the stylesheet follows.
*/
@CHARSET "utf-8";
root { 
    display: block;
}

#div_body{
    height:500px;
    padding-top: 30px;
    background-color: #ffffff;
    width: 590px;
    float: right;
}

.div_input_title{
	width:100%;
	height: 30px;
	text-align: center;
        font-size: 14px;
}

.div_input{
	width: 100%;
	height: 30px;
	text-align: center;
}

.div_input input,textArea{
	font-size: 14px;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #cfcfc9;
	text-indent: inherit;
	font-weight: normal;
	line-height: 23px;
	background: #fff;
	margin-right: 10px;
	margin: 0px 0 0 10px;
	letter-spacing: 1px;    
	width: 200px;
        height:22px;
}

.div_input textArea{
	width: 200px;
	height: 150px;
}

#div_list{
    display: block;
    float: left;
    height: 530px;
    width: 326px;
    background-color: #f1f1f1;
    padding-left: 30px;
    overflow:auto;
}

.a_clientList {
	width: 300px;
	height:20px;
	overflow: hidden;
	display: block;
}

ul{
    list-style-position: outside;
    padding: 0px;
    width:300px;
    overflow: hidden;
}

ul li{
  text-align: left;
  height: 20px;
  display: block;
  width: 130px;
}