@CHARSET "utf-8";

.divRow{
    height: 30px;
    width: 600px;
}

#div_left_Accordion{
	width: 200px;
	height: 500px;
	display: block;
	float: left;
	background-color: #ffffff;
	overflow: scroll;
}

#div_body_right{
	width: 626px;
	height: 450px;
	display: block;
	float: right;
        padding-left: 120px;
        padding-top: 50px;
}

.a_li{
    cursor: pointer;
    height: 22px;
    padding:3px 0px 0px 15px;
    list-style: none;
}

.div_input_title{
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: right;
}

.div_input{
	display: inline-block;
	width: 400px;
	height: 30px;
	text-align: left;
	padding-left: 10px;
}

#div_sale{
	visibility: hidden;
}

#tId{
	font-size: 14px;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #cfcfc9;
	text-indent: inherit;
	font-weight: normal;
	line-height: 23px;
	background: #fff;
	font-family: "微软雅黑", sans-serif, Verdana, Arial, Helvetica, Tahoma, "宋体";
	margin-right: 10px;
	margin: 0px 0 0 10px;
	letter-spacing: 1px;
        width:150px;
}

#pId,#tId,#pName,#pShort,#pPrice,#starTime,#endTime,#sale,#jfdhbl{
	font-size: 14px;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #cfcfc9;
	text-indent: inherit;
	font-weight: normal;
	line-height: 23px;
	background: #fff;
	font-family: "微软雅黑", sans-serif, Verdana, Arial, Helvetica, Tahoma, "宋体";
	margin-right: 10px;
	margin: 0px 0 0 10px;
	letter-spacing: 1px;
        width:190px;
}